<div class="left d-flex">
    <a href="#"><img src="assets/imgs/profiles.jpeg" alt="Profil user"></a>
    <a href="#" (click)="onOpenModal(false)"><i class="bi bi-plus bx-md"></i></a>
</div>

<div class="right d-flex">
    <div class="d-flex align-items-center">
        <a href="#"><img src="assets/imgs/profiles.jpeg" alt="Image contact"></a>
        <h4>Nom et prénom de l'utilisateur</h4>
    </div>
    <nav>
        <ul class="d-flex justify-content-center align-items-center">
            <li ><a href="#" class="menu-link" title="Lancer un appel audio">Appel audio <i class="bi bi-telephone"></i></a></li>
            <li ><a href="#" class="menu-link" title="Lancer un appel vidéo">Appel video <i class="bi bi-camera-video"></i></a></li>
        </ul>
    </nav>
</div>