<main class="register">
    <div class="fields-container">
        <h1>Sign up</h1>
        <p>Rejoingnez vos amis et discuter avec eux.</p>
        <form [formGroup] = "formdata" (ngSubmit)="onClickSubmit(formdata.value)" class="form">
            <div class="form-group">
                <label class="form-label" for="pseudo">Pseudo</label>
                <input type="text" name="pseudo" id="pseudo" formControlName="pseudo" placeholder="Claude">
            </div>
            <div class="form-group">
                <label class="form-label" for="phone">Téléphone</label>
                <div class="tel-container">
                    <isi-inputTelIsj
                        class="tel"
                        [DefaultCountry]="'cm'" 
                        [borderRadius]=200
                        [size]=12
                        [phoneFieldsPlaceHolder]=false
                        [phoneFieldOnlyCountry]="['cm', 'fr']"
                    ></isi-inputTelIsj>
                </div>
            </div>
            <div class="form-group next-tel">
                <label class="form-label" for="password">Mot de passe</label>
                <input type="password" name="password" id="password" formControlName="password">
            </div>
            <div class="form-group">
                <label class="form-label" for="password-confirm">Confirmer le mot de passe</label>
                <input type="password" name="password-confirm" id="password-confirm" formControlName="confirm">
            </div>
            <input [disabled]="!formdata.valid" type="submit" value="Se connecter">
        </form>
        <div class="login">
            <a href='/login'>Vous avez déjà un compte ?</a>
        </div>
    </div>
    <div class="img-container">
        <h1>S'enregistrer</h1>
    </div>
</main>