<header class="display-flex d-align-items-center d-justify-content-center">
    <div class="left">
        <a href=""><img src="assets/img/1.png" alt="logo" class="logo"></a>
    </div>
    <div class="right">
        <ul class="display-flex d-align-items-center">
            <li><a href="/">Accueil</a></li>
            <li><a href="#about">A propos de nous</a></li>
            <li><a href="#contact">Nous contactez ?</a></li>
            <li><a href="/login"><i class="bi bi-person-circle"></i></a></li>
        </ul>
    </div>
</header>
<main>
    <section class="accueil display-flex d-align-items-center d-justify-content-center" id="accueil">
        <h1>Tout commence juste par un <strong>mot.</strong></h1>
        <h3>Écrivez votre premier message !</h3>
        <a href="/login">Tchatter</a>
    </section>
    <section class="about display-flex d-align-items-center d-justify-content-center" id="about">
        <div class="equal-part">
            <img src="assets/img/1.png" alt="logo" class="logo big">
        </div>
        <div class="equal-part">
            <h3>Tchat client est le nom de notre projet</h3>
            <h5>Conçu par le groupe 2 du cours d'Architecture Web</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, explicabo nihil? Reprehenderit non blanditiis numquam. Sequi quibusdam amet assumenda, voluptatibus, adipisci hic neque numquam molestiae nisi ex, doloremque iste ratione?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione quo unde. Praesentium obcaecati necessitatibus error maxime, odio dignissimos nostrum quae nihil fuga, tenetur maiores incidunt iure at, expedita molestiae?</p>
        </div>
    </section>
</main>

