<div class="left display-flex">
    <div class="profil">
        <img src="assets/imgs/profiles.jpeg" alt="Profil user">
        <ul class="menu-profil">
            <li>
                <a href="">Mon profile<i class="bi bi-person"></i></a>
            </li>
            <li>
                <a href="/login">Déconnexion<i class="bi bi-box-arrow-right"></i></a>
            </li>
        </ul>
    </div>
    <button (click)="onOpenModal(false)"><i class="bi bi-plus bx-md"></i></button>
</div>

<div class="right display-flex">
    <div class="display-flex d-align-items-center">
        <a href="#"><img src="assets/imgs/profiles.jpeg" alt="Image contact"></a>
        <h5>Nom et prénom de l'utilisateur</h5>
    </div>
    <nav>
        <ul class="display-flex d-justify-content-center d-align-items-center">
            <li ><a href="#" class="menu-link" title="Lancer un appel audio">Appel audio <i class="bi bi-telephone"></i></a></li>
            <li ><a href="#" class="menu-link" title="Lancer un appel vidéo">Appel video <i class="bi bi-camera-video"></i></a></li>
        </ul>
    </nav>
</div>