<main class="login">
    <div class="fields-container">
        <form [formGroup] = "formdata" (ngSubmit)="onClickSubmit(formdata.value)" class="form">
            <label for="phone">Téléphone</label>
            <input type="tel" name="phone" id="phone" formControlName="phone">
            <br /><br />
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" formControlName="password"><br /><br />
            <input type="submit" [disabled]="!formdata.valid" value="Se connecter">
        </form>
    </div>
    <div class="img-container">
        <h1>Connexion</h1>
    </div>
</main>