/*=================================
    Aside section
=================================*/
button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}
button:hover{
    color: tomato;
}


.search{
    border: thin solid #e6e6e6;
    border-radius: 0.5vw;
    padding: 10px 7px;
    margin: 10px 0;
    width: 90%;
    font-size: 1vw;
}
.search:focus{
    outline: 1px solid #AEC5EB;
}

.contact{
    justify-content: space-around;
    padding: 0 5px;
    line-height: 1.5vw;
}
.contact:hover{
    background-color: #eee;
}

.contact .left {
    width: 15%;
}
.contact .right{
    width: 75%;
    
}

.contact img{
    width: 45px;
    height: 45px;
    border-radius: 25vw;
}
.contact .right{
    padding: 10px 8px;
    border-bottom: 0.01vw solid #eee;
}
.contact p{
    font-size: 0.8vw;
}

.contact h5{
    font-size: 1vw;
}

.modale{
    padding: 10px;
    background-color: #fff;
    position: absolute;
    width: 380px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modale-scrollable{
    overflow-y: auto;
    height: 70%;
}
.modale .title{
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}
.title p{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.title a:hover i.bi-x-lg{
    color: red;
}

.modale div:nth-child(2){
    margin: 0 0 15px 0;
    justify-content: space-around;
}

.btn-icon{
    color: #1b2a55;
    border: none;
    background-color: transparent;
}
.btn-icon:hover{
    color: #2eb873;
}

.input-group{
    border: thin solid #e6e6e6;
    border-radius: 0.5vw;
    margin-bottom: 20px;
    width: 90%;
}
.input-group *{
    padding: 10px;
    border: none;
}
.input-group select{
    border-right: 1px solid #e6e6e6;
    width: 25%;
}
.input-group input{
    width: 75%;
}