<div class="display-flex d-justify-content-center">
    <input type="text" name="rechercher" id="rechercher" placeholder="Rechercher..." class="search">
</div>

<!-- chat list -->
<div id="chat" class="chat">
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="display-flex d-align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
</div>

<!-- Contacts list -->
<span *ngIf="service.isViewModal; else view"></span>
<ng-template #view>
    <div id="contact" class="modale" (click)="onCloseModal(true)">
        <div class="dialog">
            <div class="display-flex title">
                <button (click)="onCloseModal(true)" ><i class="bi bi-x bx-sm"></i></button>
                <p>Nouvelle discussion</p>
            </div>
            <div class="display-flex d-align-items-center">
                <input type="search" name="rechercher" id="rechercher" placeholder="Rechercher un contact..." class="search">
                <button (click)="onViewForm(false)" class="button-icon display-flex d-align-items-center"><i class="bi bi-person-plus bx-sm"></i></button>
            </div>
            <div class="dialog-scrollable">
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
                <div class="display-flex d-align-items-center contact">
                    <div class="left">
                        <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
                    </div>
                    <div class="right">
                        <h5>Nom du contact</h5>
                        <p>Dernier message de la discussion</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Form to create a contact -->
<span *ngIf="isViewForm; else formContact"></span>
<ng-template #formContact>
    <form id="contact" class="modale" [formGroup]="newContactForm" (click)="onCloseModal(true)">
        <div class="dialog">
            <div class="display-flex title">
                <button (click)="onViewForm(true)" ><i class="bi bi-x bx-sm"></i></button>
                <p>Ajouter un contact</p>
            </div>
            <div class="display-flex d-justify-content-center">
                <input type="text" name="name" id="name" placeholder="Nom et prénom" class="search" formControlName = "name">
            </div>
            <div class="display-flex d-justify-content-center">
                <!-- <div class="input-group">
                    <select name="country" id="country">
                        <option value="CM">+237</option>
                        <option value="FR">+33</option>
                    </select>
                    <input type="number" name="numero" id="numero" class="input-field">
                </div> -->
                <isi-inputTelIsj 
                        [DefaultCountry]="'cm'" 
                        [size]=8 
                        [phoneFieldsPlaceHolder]=false
                        [phoneFieldOnlyCountry]="['cm', 'fr']"
                    ></isi-inputTelIsj>
            </div>
            <div class="display-flex d-justify-content-center">
                <input type="submit" value="Enregistrer" class="button">
            </div>
        </div>
    </form>
</ng-template>