<div class="d-flex justify-content-center">
    <input type="text" name="rechercher" id="rechercher" placeholder="Rechercher..." class="search">
</div>

<!-- chat list -->
<div id="chat" class="chat">
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
    <div class="d-flex align-items-center contact">
        <div class="left">
            <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
        </div>
        <div class="right">
            <h5>Nom du contact</h5>
            <p>Dernier message de la discussion</p>
        </div>
    </div>
</div>

<!-- Contacts list -->
<span *ngIf="service.isViewModal; else view"></span>
<ng-template #view>
    <div id="contact" class="modal">
        <div class="d-flex title">
            <a href="#" (click)="onCloseModal(true)" ><i class="bi bi-x-lg"></i></a>
            <p>Nouvelle discussion</p>
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" name="rechercher" id="rechercher" placeholder="Rechercher un contact..." class="search">
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
        <div class="d-flex align-items-center contact">
            <div class="left">
                <img src="assets/imgs/bg-main.jpg" class="user-img" alt="photo de profil">
            </div>
            <div class="right">
                <h5>Nom du contact</h5>
                <p>Dernier message de la discussion</p>
            </div>
        </div>
    </div>
</ng-template>