*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul{
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

/* Own specification css */
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

.btn{
    background-color: #6716e9;
    color: #fff;
    padding: 1vw;
    border-radius: 5vw;
    border: none;
    transition: all 0.2s ease;
}
.btn:hover{
    background-color: #3e0d8c;
}

i{
    margin-left: 7px;
}

.badge{
    background-color: #11cccc;
    padding: 0 5px;
    border-radius: 5vw;
    font-size: 0.5rem;
    color: #fff;
}
